.word-slots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

.slot, .tile {
    box-sizing: border-box; /* Include border and padding in the total width and height */
    border: 3px solid #000;
    width: 5rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background: #EDEDED;
    user-select: none; /* Prevent text selection for a more polished interaction */
}

.slot.correct {
    /* Styling for correct letters */
    border: solid 10px #6fce5f;
    background: #DAD3BB;
    overflow: hidden;
    width: 5.5rem;
    height: 9rem;
    font-size: 2rem;
}

.slot.incorrect {
    /* Styling for incorrect letters - dashed border */
    border: dashed 4px rgb(0, 0, 0);
}

.tile {
    background: #DAD3BB;
}

@media screen and (max-width: 480px) {
    .word-slots {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1px; /* Further reduced gap for smaller screens */
      padding: 0.2rem;
    }

    .slot.incorrect {
      border: 2px dashed #000; /* Slightly thinner border for smaller screens */
      width: 1.6rem; /* Adjusted width for slots */
      height: 3rem; /* Adjusted height for slots to maintain aspect ratio */
      font-size: 2rem; /* Adjust font size if you have text in slots */
    }

    .slot.correct {
        border: solid 5px #6fce5f;
        background: #DAD3BB;
        overflow: hidden;
        width: 1.8rem; /* Adjusted width for slots */
        height: 3.1rem; /* Adjusted height for slots to maintain aspect ratio */
        font-size: 1rem; /* Adjust font size if you have text in slots */
    }

    
}

