/* src/components/ScoreDisplay/ScoreDisplay.css */

.score-display {
    color: rgb(0, 0, 0); /* Set the text color to black */
    font-size: 28px; /* Increase font size for better visibility */
    margin-bottom: auto; /* Add some spacing below the score display */
    font-weight:bold ; /* Make the text bold */

}

.score-display {
    /* ...existing styles... */
    
    padding: 10px;
    border-radius: 10px;
  }
  