.control-panel {
  display: flex;
  justify-content: space-between; /* Evenly space the play and mute buttons */
  align-items: center;
  max-width: 1200px; /* Adjust based on ideal width for your layout */
  margin: 0 auto; 
}

.control-panel i {
  font-size: 120px; /* Adjust the size as you need */
  cursor: pointer;
}

.control-panel i:hover {
  color: gray; /* Change color on hover for better UX */
}

.fa-play {
  font-size: 80px; /* Increase as needed */
}

.fa-redo {
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 0; /* Adjust as needed to position above the letter tiles */
}
