.letter-pool {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Adjust minmax as needed */
    gap: 10px; /* Adjust the gap as needed */
    justify-content: center;
    padding: 10px; /* Padding around the grid */
}

.letter {
    border: 3px solid #000; /* Maintain the border */
    background: #DAD3BB;
    width: 100%; /* Let grid handle the width */
    height: 120px; /* Set height larger than width for a more vertical rectangle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold;
    box-sizing: border-box; /* Include padding and border in the dimensions */
    margin: auto; /* Center in the grid cell if there's extra space */
}



.letter-pool-container {
    max-width: 1200px; /* Example, adjust based on ideal width for your layout */
    margin: 0 auto;   /* Centers the container if it's less than the viewport width */
}


.letter-pool {
    display: grid;
    grid-template-columns: repeat(13, 1fr);  /* 26 letters in 2 rows = 13 letters per row */
    gap: 10px;  /* spacing between letters */
    transition: transform 0.3s; /* smoothens scaling effect */
}

@media screen and (max-width: 1200px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Adjust to three rows */
    }
}
@media screen and (max-width: 950px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Adjust to three rows */
    }
    .letter, .slot {
        width: 4.5rem;
        height: 8.5rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 800px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Maintain three rows */
    }
    .letter, .slot {
        width: 4rem;
        height: 8rem;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 700px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Still three rows */
    }
    .letter, .slot {
        width: 3.5rem;
        height: 7.5rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Three rows for smaller screens */
    }
    .letter, .slot {
        width: 3rem;
        height: 7rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .letter-pool {
        grid-template-columns: repeat(9, 1fr); /* Adjust to ensure three rows are maintained */
    }
    .letter {
        width: 1.8rem;
        height: 3.4rem;
        font-size: 1rem;
    }
    .slot {
        width: 3rem; /* Adjust slot size to match letter size */
        height: 3rem; /* Make slots square */
    }
}


