/* src/components/GameBoard/GameBoard.css */

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    background-color: red; /* Add this line for the red background */
    padding: 20px; /* Add some padding for spacing */
    width: 720px; /* Set the width to 600px */
}
.matched-tile {
    opacity: 0.3; 
    pointer-events: none; 
}

.rainbow-color-1 { background-color: #ffdfba; }
.rainbow-color-2 { background-color: #ffffba;}
.rainbow-color-3 { background-color: #baffc9; }
.rainbow-color-4 { background-color: #bae1ff;}
.rainbow-color-5 { background-color: #c9c9ff; }
.rainbow-color-6 { background-color: #ffbdfc; }
.rainbow-color-7 { background-color: #ffe6f4; }


