/* src/components/WordTile/WordTile.css */

.word-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px; 
    height: 120px;
    font-size: 44px;
    font-weight: bold;
}

.word-tile.selected {
    background-color: yellow; /* Set background color to yellow for selected pairs */
}

.word-tile:hover {
    background-color: #ddd;
}

.word-tile {
    /* ...existing styles... */
    transition: background-color 0.3s, transform 0.3s;
  }
  .matched-tile {
    transform: scale(0.95);
  }
  