.isLetter{
    cursor: pointer;
}

.letter {
    transition: transform 0.3s, background-color 0.3s;  /* Smoothens the hover effect */
    cursor: pointer;  /* Changes the cursor to a hand pointer on hover */
}

.letter:hover {
    transform: scale(1.05);  /* Slightly enlarges the letter on hover */
    background-color: #E5E0C1;  /* Changes the background color slightly on hover */
}

.letter-a { background-color: #ffb3ba; }
.letter-b { background-color: #ffdfba; }
.letter-c { background-color: #ffffba; }
.letter-d { background-color: #baffc9; }
.letter-e { background-color: #bae1ff; }
.letter-f { background-color: #c9c9ff; }
.letter-g { background-color: #ffbdfc; }
.letter-h { background-color: #ffccff; }
.letter-i { background-color: #ffe6f4; }
.letter-j { background-color: #ffdbdb; }
.letter-k { background-color: #ffebd2; }
.letter-l { background-color: #f9ffe2; }
.letter-m { background-color: #e0ffb3; }
.letter-n { background-color: #c4ffcc; }
.letter-o { background-color: #b3d8ff; }
.letter-p { background-color: #bcc2ff; }
.letter-q { background-color: #ffccff; }
.letter-r { background-color: #ffb8cc; }
.letter-s { background-color: #ffb3b3; }
.letter-t { background-color: #ffcc99; }
.letter-u { background-color: #ffff99; }
.letter-v { background-color: #ccffcc; }
.letter-w { background-color: #99ccff; }
.letter-x { background-color: #9999ff; }
.letter-y { background-color: #ff99ff; }
.letter-z { background-color: #ff6699; }